.card {
    display: flex;
    flex-direction: column;
     padding: 10px;
    align-items: center;
    width: 300px;
    background-color: hwb(64 62% 0%);
    border-radius: 15px;
    border: 3px solid blue;
    margin-top: 20px;
}
img{width: 250px;
    border-radius: 15px;}

